<body id="background">

  <!--==========================
    == BEGIN HEADER CONTENT ==
    ==========================
    -->
  <header id="main-header" class="the-header the-origin-header">

    <div class="container">
      <div class="row">

        <div class="col-lg-12">

          <a href="http://womspeaks.com" class="logo">
            <img src="logo.png" alt="WOM Logo"></a>
          <!-- Your Logo -->

        </div>
        <!--/ .col-lg-12 -->

      </div>
      <!--/ .row -->
    </div>
    <!--/ .container -->

  </header>
  <!--
    =========================
    ==/ END HEADER CONTENT ==
    =========================


<div class="col-xs-8 col-sm-6 text-center">
  One One One
</div>

<div class="col-xs-8 col-sm-6 text-center">. THree Three Thee
</div>
-->
  <!--
    		========================
    		== BEGIN MAIN CONTENT ==
    		========================
    		-->
  <main id="main-content" class="hero-form-layout" style="margin-bottom: 234px;">

    <!--
    			========================
    			== BEGIN HERO SECTION ==
    			========================
    			-->
    <section id="hero" class="breaking" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="50">

      <div class="hero-split-right"></div>

      <div class="container">

        <div class="vertical-center-wrapper">
          <div class="vertical-center-table">
            <div class="vertical-center-content">

              <!-- BEGIN Hero Content -->
              <div class="hero-content row">
                <div class="col-lg-6 col-md-6 col-sm-6 margin-top-40">

                  <p class="lead zero-bottom text-shadow-xsmall" data-sr="enter top over 1s and move 50px wait 0.4s"></p>

                  <h2 class="text-shadow-medium" data-sr="enter top over 1s and move 50px wait 0.3s">Word of Mouth</h2>
                  <div class="row">
                    <div class="col-lg-10">

                      <div class="embed-responsive embed-responsive-16by9" data-sr="enter bottom over 1s and move 75px">

                        <iframe src="https://www.youtube.com/embed/WEz4hHxjfsE" width="470" height="265" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                      </div>
                      <!--/ .embed-responsive -->

                    </div>
                  </div>
                  <!--/ .row -->

                </div>
                <!--/ .col-lg-6 -->

                <div class="hero-form-wrapper col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 centered" data-sr="over 1.25s">

                  <h4 class="all-caps margin-bot-15">Register Your Album Below</h4>

                  <p class="zero-bottom">
                    Start working with other album holders and keep up to date with the release!<br>
                  </p>

                  <form class="register-form margin-top-32 margin-bot-5" id="register-form" method="post">
                    <div class="row">

                      <div class="col-lg-6 col-md-6">
                        <div class="required-field">
                          <input name="heroFname" id="hero-fname" class="hero-input" type="text" placeholder="First Name">
                        </div>
                        <!--/ .required-field -->
                      </div>

                      <div class="col-lg-6 col-md-6">
                        <input name="heroLname" id="hero-lname" class="hero-input" type="text" placeholder="Last Name">
                      </div>

                      <div class="col-lg-12 col-md-12">
                        <div class="required-field">
                          <input name="heroUsername" id="hero-username" class="hero-input" type="text" placeholder="Choose Username">
                        </div>
                        <!--/ .required-field -->
                      </div>

                      <div class="col-lg-12 col-md-12">
                        <div class="required-field">
                          <input name="heroEmail" id="hero-email" class="hero-input" type="text" placeholder="Email Address">
                        </div>
                        <!--/ .required-field -->
                      </div>

                      <div class="col-lg-8 col-md-8">
                        <input name="heroPhone" id="hero-phone" class="hero-input" type="text" placeholder="Phone Number">
                      </div>

                      <div class="col-lg-4 col-md-4">
                        <button id="hero-submit" type="submit" class="submit-btn">Create</button>
                      </div>

                    </div>
                  </form> <!-- .register-form -->

                  <p class="zero-bottom">By creating account, you agree to the
                    <a href="#0" class="more">Terms of Service</a>
                  </p>

                </div> <!--/ .hero-form-wrapper -->

              </div> <!--/ .row -->
              <!-- END Hero Content -->

            </div> <!--/ .vertical-center-content -->
          </div> <!--/ .vertical-center-table -->
        </div> <!-- / .vertical-center-wrapper -->

      </div> <!--/ .container -->

    </section>
    <!--
    			=======================
    			==/ END HERO SECTION ==
    			======================
  -->
  </body>
