<footer class="footer">
  <small>
    © 2015 Word of Mouth
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms",   '#' %></li>
      <li><%= link_to "Privacy",   '#privacypolicy.htm' %></li>
      <li><%= link_to "Security", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://localhost:3000/privacypolicy.htm">PR/Marketing</a></li>
    </ul>
  </nav>
</footer>
