<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center"><strong>ABOUT WORD OF MOUTH</strong></h3>
    <hr>
    <a>

    <!--
      <%= video_tag(["WOMAnimation.mp4", "WOMAnimation.webm"], class: "video",
      id: "video", width: "100%", height: "auto", poster: "poster.png",
      controls: true, autobuffer: true) %>
    -->

    <iframe width="100%" height="400" src="https://www.youtube.com/embed/WEz4hHxjfsE" frameborder="0" allowfullscreen></iframe>

    </a>
    </br>
    <h3>So, how does it work?</h3>
    <p>
    </p>
    <br>
    <h3>How can I get involved?</h3>
    <p>
    </p>
    <br>

    <a href="https://www.facebook.com/wordofmouthspeaks/?fref=ts" class="btn btn-facebook">
      <%= fa_icon 'thumbs-o-up' %> Like Us
    </a>
    <a href="https://twitter.com/womspeaks" class="btn btn-twitter">
      <%= fa_icon 'twitter' %> Follow Us
    </a>
    <a href="https://www.instagram.com/wordofmouthspeaks/" class="btn btn-instagram">
      <%= fa_icon 'instagram' %> Follow Us
    </a>
  </div>
</div>
