
<div class="row">

  <div class=".col-xs-12 col-md-12 bgimage">
    <div class="bgimage-inside"></div>

  </div>


  <h4 style="text-align: center;">
  Like or follow us to keep up to date with the release.
  </h4>
  <div class="btn-center">
    <a href="https://www.facebook.com/wordofmouthspeaks/?fref=ts" class="btn btn-facebook facebook">
      <%= fa_icon 'thumbs-o-up 2x' %>
    </a>
    <a href="https://www.instagram.com/wordofmouthspeaks/" class="btn btn-instagram instagram">
      <%= fa_icon 'instagram 2x' %>
    </a>
    <a href="https://twitter.com/womspeaks" class="btn btn-twitter twitter">
      <%= fa_icon 'twitter 2x' %>
    </a>
  </a>

</div>
