<div id="wrapper" class="wrapper">
<div id="hero-img" class="hero-img">
    <img src="hero.jpg" alt="Word of Mouth Speaks">
</div>
</div>

<!--
<div id="owl-demo" class="owl-carousel owl-theme">
  <div class="item"><img src="hero.jpg" alt="Word of Mouth Speaks"></div>
</div>
-->
