
<div class="row">
<h1>The Official Word of Mouth App</h1>
  <div class="col-lg-12 well">

<p>The app allows all users to communicate and organize to help support the release. It's completely free for everyone to use. Just look up Word of Mouth Speaks in the app store, or see the links below to download it and get started. </p>
<h4 class="all-caps margin-bot-15">DOWNLOAD THE APP</h4>
<p class="zero-bottom">
</p>
<div class="">
  <a href="https://itunes.apple.com/us/app/word-of-mouth-speaks/id1097632336?ls=1&mt=8" target="_blank" class="btn awesome large apple">
    <%= fa_icon 'apple 3x' %>
  </a>
  <a href="https://play.google.com/store/apps/details?id=hr.apps.n206975547" target="_blank" class="btn awesome large droid">
    <%= fa_icon 'android 3x' %>
  </a>
</div>
</div>
</div>
