<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title">Thanks for downloading!</h3>
  </div>
  <div class="modal-body">
    Make sure to support the great team that is helping to get the word out about
    the album. Donate what you want, or if you're strapped for cash, just kick back
    and enjoy the music on us!
  </div>
  <div class="modal-footer">
    <%=link_to "Donate", new_transaction_path, class: "btn btn-donate" %>
  </div>
</div>
