<h1>Press Kit</h1>
 <div class="wrapper">
<div class="rows">
    <div class="cols-1-2">
      <h3>Company Description</h3>
      Here to “stimulate your mind juice”, this album is about you. It is designed to harmoniously combine 8 unique musicians, each playing multiple instruments, and integrating influences from an array of genres to deliver one unified message. The strength of community, self-empowerment, and action. This message is what inspired us to pioneer a new release strategy. We put the focus on the community of fans surrounding us because we believe they are the backbone. The band is only as successful as the fans supporting it. This knowledge has lead us to develop the concept of Reverse Crowdfunding. It is a way for people to be involved with the band and share in its prosperity.
    </div>
  </div><!-- /.rows -->

  <div class="rows">
    <div class="cols-2-3">
      <h3>Graphics</h3>
        <h4>Logo</h4>
        <%= image_tag("logo.png", size: "220x150", :alt => "Logo") %>
      </br>
      <h4>Album Cover</h4>
        <%= image_tag("wom_album.png", :alt => "Album Cover") %>

    </div>

    <div class="cols-1-3">
      <h3>Video</h3>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/WEz4hHxjfsE" frameborder="0" allowfullscreen></iframe>
    </br>
    <h3>Contact</h3>
    If you are interested in further information or media, please contact us at:
    <p>holler@wordofmouthspeaks.com</p>
    </div>
  </div><!-- /.rows -->

  <div class="cols-1-2">

  </div>
</div><!-- /.rows -->

</div><!-- /.wrapper -->
