// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#newsfeed > h4 {
  text-align: center;
  padding: 10px;
}

#intro {
  margin-top: 125px;
  padding: 10px 50px;
  text-align: center;
  h1 {
    color: $navbar-color;
    font-weight: 300 !important;
  }

  p {
    font-size: 1.65rem;
    line-height: 3rem;
  }
}
/*
#hero-images {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
}
#hero-images img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.wrapper {
  margin:0 auto;
  width:100%;
  min-width:760px;
  max-width:1003px;
  overflow:hidden;
}

.hero-imgs {
  background: url("hero.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  left: 0%;
  position: absolute;
  top: 180px;
}

.hero-imgs img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
}
*/
