<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center"><strong>ALBUM HOLDERS NEAR YOU</strong></h3>

<div id="map" class="dark">

</div>

<script type="text/javascript">
	var map = L.mapbox.map('map', 'examples.map-y7123tes').setView([37.9, -77], 5);
</script>

</div>
</div>
