<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center"><strong>ALBUM HOLDERS NEAR YOU</strong></h3>

    <hr>
    <br />


<div id="map" class="dark"></div>

<script type="text/javascript">
	L.mapbox.accessToken = '<%= ENV["MAP_BOX_TOKEN"] %>';
	var map = L.mapbox.map('map', 'mapbox.streets').setView([37.9, -77], 5);
	$.ajax({
    dataType: 'text',
    url: '/map/index.json',
    success: function (data) {
      var geojson = $.parseJSON(data);
      map.featureLayer.setGeoJSON(geojson);
    }
  });
</script>

</div>
</div>
